*.psd1
*.tfstate
*.tfstate.*
**/.terraform/*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
tfplan
